.contact-us{

}
.contact-us-info-container{
    display:flex;
    flex-direction: column;
    background-color: #fafafa;
    padding:35px 0;
}
.contact-us .contact-us-info{
    max-width: 1300px;
    margin: auto;
    display: flex;
    color:var(--text-color-gray)
}
.contact-us-info .info-text{
    margin: 0 45px;
}
.info-text .text-item {
    display: flex;
    flex-direction: column;
    text-align: left;

}
.info-text .text-item h2{
    margin: 15px 0;
    color: var(--black-color);
    font-weight: 500;
    font-family: brandon,serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;

}
.contact-us-info .info-text a:hover{
    text-decoration: underline;
    cursor: pointer;

}
.info-text .text-item a{
    display: block;
    margin-bottom: 25px;
    color: #000;
    font-size: 20px;
    line-height: 18px;

}
.contact-us-input-container{
    display: flex;

}
.contact-us-input{
    display: flex;
    width: 970px;
    justify-content: space-between;
    margin: 45px auto;
}
.wrap-sidetext{
    width: 50%;
    position: relative;
    color:var(--text-color);
}

.wrap-sidetext__content {
    padding: 25px 25px 50px;
    margin: 0 0 0 30px;
    border: 1px solid #090909;
    background: #fff;
    z-index: 1;
    text-align: justify
}

.wrap-sidetext__content::before {
    background: url(../../assets/images/pattern-contact-us.png) center center;
    z-index: -1;
    content: '';
    position: absolute;
    left: -1px;
    right: 35px;
    top: 8px;
    height: 84%;
}

.wrap-sidetext__content p {
    margin: 0 0 10px
}
.contact-us-input .input-text h1{
    margin: 0 0 15px;
    color: #000;
    font-weight: 500;
    font-family: brandon,serif;
    letter-spacing: 1.5px;
    font-size: 30px;
    line-height: 32px;
}
.contact-us-input .input-text p{
    text-align: left;
}  

.contact-us-input .input-form{
    width: 50%;
    margin: 0 55px;
}
.contact-us-input .input-form h3{
    margin: 0 0 15px;
    color: #000;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 1.5px;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
    border-color: rgb(0, 0, 0);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, 0.6)
}

