.service__row{
    display: flex;
    min-height:346px;
    box-shadow: 0 5px 10px 3px rgb(0 0 0 / 10%);
    margin: 30px 25px;
    padding: 15px 0;
}

.service__row-paragraph{
}
.service__row-paragraph a{
    color: var(--text-color);
}
.service__row-paragraph h3{
    font-size: 30px;
    text-align: left;
    font-weight: 300;
}
.service__row-paragraph h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.service__row-paragraph p{
    font-size: 16px;
    text-align: justify;
    color: #333;
    line-height:28px;

}
.service__row--list{
    position: relative;
    padding: 0;
}
.row--list--image{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
}
.row--list--image:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    content: ' ';
    padding: 0;
}
.row--list--image img{
    width: 100%;
    height: 100%;
}

.row--list--content{
    position: relative;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    color:white;

}
.row--list--content h3{
    text-align: left;
    font-size: 20px;
    margin-left: 45px;
    padding-top: 12px;
}
.row--list--content ul{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.list--content-items li{
    margin: 8px 0;
    font-size: 18px;
}
.list--content-items li i{
    margin-right: 10px;
}

@media (max-width: 768px){
    .service__row{
        display:block;
    }
}