.services{
    display: flex;
    flex-direction: column;
}
.services .blog-banner{
    position: relative;
}
.services .blog-banner img::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    content: "";
}
.services .service__content{
    

}
.services .banner-container h2{
    color: var(--white-color);
    text-transform: capitalize;
    
}

.service__content .service__row:nth-child(2n){
    flex-direction:row-reverse
}