.post{
    width: 100%;
}
.post-banner{
    background-color: var(--primary-color);
}

.post-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px auto;
}

.post-content-left{
    box-shadow: 1px 1px 20px #f3f3f3, -1px -1px 20px #f3f3f3;
    padding:25px 5px;
}

.post-content-right{
    margin: 15px 0;
    padding:15px 0;
}

.content-details{
    text-align:justify;
    width: 100%;
}

.content-details h2{
    font-size: 24px;
    font-weight: 600;
}
.content-navigation{
    display: flex;
    justify-content:space-between
}
.content-navigation .social_link li{
    background-color: var(--primary-color);
}
.content-navigation .social_link li a{
    color: var(--white-color)
}
.content-navigation-button{
    width: 150px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing:1.5px;
    line-height: 50px;
    text-align: center;
}
.content-details img{
    width: 100%;
}

.content-suggestion h4::after,.content-suggestion ul li a:before {
    content: "";
    left: 0
}
.content-suggestion h4 {
    position: relative;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 15px 0;
    text-transform: capitalize
}

.content-suggestion h4::after {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #ccc
}
.content-suggestion{
    border: 1px solid #ccc;
    text-align:start;
    padding: 10px;
}

.suggestion-lists{
    padding:0;
    
}
.suggestion-item{
    padding: 5px 10px;
}
.suggestion-item a{
    display: flex;
}
.suggestion-item a img{
    width: 80px;
    height: 80px;
    margin:10px 0 ;
    border-radius: 5px;
}
.suggestion-item a span{
    color: var(--primary-color);
    margin-top:20px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
}
.contact-form-container{
    border: 1px solid #ccc;
    margin: 35px 0;
}
.contact-form-container h4{
    font-size: 20px;
    font-weight: 600;

}
.contact-form{
    margin:10px 0;
    display: flex;
    flex-direction: column;
}
.form-group{    
    margin:10px 0;
}
.form-group input{
    width: 100%;
    height: 40px ;
}
.form-group textarea{
    width: 100%;
    height:110px ;
}
.form-group button{
    background-color: var(--primary-color);
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing:2px;
    font-weight: 300;
}
