.testing-definition .image-wrap{
    padding:15px;
}
.testing-definition .image-wrap img{
    width: 100%;
    height: 100%;
}
.testing-definition .container{
    display:flex;
    flex-wrap: wrap;
}
.testing-experience .container{
    display:flex;
    flex-wrap: wrap;
}
.testing-experience .container .expertise{
    width: 100%;
    height: 100%;
}