.home{
    width: 100%;
}

.home-banner{
   
}
.home-banner .banner-image:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--primary-color),0.6);
    content: ' ';
}
.banner-image img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.home-banner .banner-image{
    position: relative;
}
.home-banner .banner-content{
    position: absolute;
    width: 100%;
    display: flex;
    top: 250px;
}
.banner-content .content-container{
    color: var(--white-color);
    margin: auto;
}
.banner-content .content-container h1{
   font-size: 40px;
    font-weight: 300;
    
    
    
}
.banner-content .content-container h2{
   font-size: 14px;
    font-weight: 300;
}
.banner-content .content-container button{
   font-size: 14px;
   width: 188px;
   height: 40px;
   text-transform: uppercase;
   background-color: var(--primary-color);
   border: 1px solid #8c8c8c;
}
.banner-content .content-container button a{
    color: var(--white-color);
}

.banner-content .content-container button:hover{
    background: linear-gradient(to right,#000 0,#272727 50%,#0f0f0f 100%)
}

.home-banner .banner-index{
    position: absolute;
    bottom: 200px ;
    text-align: center;
    color: var(--white-color);
    display: flex;
    width: 100%;
}
.banner-index .index-lists{
    display: flex;
    margin: auto;
   
}
.index-lists .index-item{
    margin: 0 20px;
}
.index-lists .index-item span{
    
}
.index-lists .index-item h3{
    border-top: 2px solid var(--white-color);
    font-weight: 300;
}

.services-lists .services-item i{
    color: black;
}
.home-explore{
    display: flex;
    width: 100%;
}
.home-explore .explore-image{
    width: 41.666666%;
    
}
.home-explore .explore-image img{
    object-fit: cover;
}
.home-explore .explore-content{
    
}
.home-intro .intro-bottom img{
    width: 50%;
}