html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.tit {
  font-size: 16px;
  font-weight: bold;
}

.word {
  text-align: center;
  padding: 50px;
}

.beau {
  padding: 10px;
  margin: 10px;
  font-family: karla,sans-serif;
}

.container {
  color: #fff;
}

.frame {
  border: 1px solid rgb(143, 132, 132);
  width: 360px;
  height: 290px;
  font-size: 16px;
}

.homi {
  padding: 0 100px;
}

.bro {
  margin-right: 30px;
  padding: 30px 20px;
}

.ic {
  font-size: 60px;
  color: #000;
  line-height: 60px;
}

.jus {
  text-align: justify;
}

.home-banner {
  display: block;
  background-color: #000;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  
}


.home-banner-container {
  
}






.home-menu {
  padding: 15px 20px;
}

.home-banner-link {
  font-size: 16px;
  font-weight: 600;
}

.icon {
  font-size: 15px;
  padding: 5px;
  padding-top: 2px;
}


.banner-intro {
  padding-top: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: raleway, serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  letter-spacing: 3px;
  padding-top: 230px;
  
  
    
}

.banner-intro-title {
  margin: 0 0 15px;
  font-size: 48px;
  font-family: raleway, serif;
  line-height: 60px;
  
}

.banner-intro-title-sub {
  font-family: karla, serif;
  
  
}

.banner-intro-title-desc {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 1px;


 
}

.qoute {
  color: #fff;
  background-color: #000;
  line-height: 1.42857143;
  border-radius: 4px;
  font-family: karla, sans-serif;
  height: 40px;
  padding: 8px 25px;
  border: 1px solid #8c8c8c;
  font-size: 16px; 
  background-size: 200% 100%;
  transition: .5s ease-out;
  
}

.banner-menu-desc {
  border-top: 3px solid #fff;
  padding-top: 7px;
  font-size: 16px;
}

.qoute a {
  color: #fff;
  border-radius: 50px;
 
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  
}



.qoute:hover {
  
  background: linear-gradient(to left, rgb(0, 0, 0) 100%, rgb(124, 123, 123) 50%) right;
    box-shadow: 0 4px 15px 0 rgba(120, 126, 124, 0.75);
}

.qoute:hover a {
  color: #fff;
}

.home-banner-desc {
  padding-top: 20px;
  border-top: 3px solid #fff;
  font-size: 16px;
}

.notice {
  display: flex;
  font-size: 28px;
  line-height: 26px;
  font-weight: 500;
  font-family: brandon, serif;
  letter-spacing: 1.5px;
  margin-top: 150px;
  padding-left: 80px;
  // margin-bottom: 100px;
}
.notice-item {
  padding-right: 70px;
  font-size: 28px;
  
}

//Desc

.home-desc-description {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}

.explore-img {
  box-shadow: 30px 30px #888;
}




.home-desc-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.desc-btn-bt-ex {
  background-color: #000;
  color: #fff;
  margin-right: 20px;
  text-align: justify;
  padding: 15px 50px;
  border: 1px solid #8c8c8c;
  background-size: 200% 100%;
  transition: all 0.5s ease-out;
  font-family: karla,serif;
  font-size: 16px;
}


.desc-btn-bt-ex a{
  color: #fff;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}




.desc-btn-bt-ex:hover { 
  background: linear-gradient(to left, rgb(0, 0, 0) 100%, rgb(124, 123, 123) 50%) right;
  box-shadow: 0 4px 15px 0 rgba(120, 126, 124, 0.75);
}

.desc-btn-bt-ex:hover a{
  color: #fff;
}



.desc-five {
  text-align: justify;
}

.home-desc-text{
    padding-left: 50px;
    margin-top: 50px;
    font-family: brandon,serif;
}

.home-desc-text-one{
  padding-left: 20px;
  font-weight: 500;
   
    letter-spacing: 1.5px;

}




//category

.home-category {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  padding: 120px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.category-top {
  display: flex;
  letter-spacing: 0.2rem;
  
  
}

.cate-t-left {
  font-family: karla,serif;
  font-size: 26px;
  font-weight: 600;
  width: 50%;
}

.cate-t-right {
  font-size: 16px;
  width: 50%;
  padding-left: 60px;
  line-height: 25px;
  padding-top: 7px;
  font-family: karla,serif;
}

.category-down {
  display: flex;
}

.category-d-left {
  width: 50%;
}

.founders-img {
  margin-right: 30px;
}

.founders-img img {
  max-width: 100%;
  height: auto;
  margin-right: 30px;
}

.img-child {
  border-radius: 10px;
  width: 100%;
}

.category-d-right {
  display: flex;
  margin-right: 10px;
  width: 50%;
}

.cate-d-right-card {
  border: 2px solid #ebe0e0;
  padding: 40px 40px 20px 40px;
  margin: 0 30px 30px;
  font-size: 16px;
  line-height: 24px;
  font-size-adjust: 0.58;
  text-align: justify; /* For Edge */
  
}

.cate-d-right-card:hover {
  border: 2px solid #ffffff;
}

.cate-d-right-card-icon {
  font-size: 50px;
}

.jaipur-title {
  font-size: 16px;
  font-weight: 700;
}

.service {
  margin: 500px;
}

.services-title {
  font-size: 34px;
  padding: 40px;
  text-align: center;
}

.services-option {
  text-align: center;
  /* margin-left: 250px; */
  color: #333;
  /* text-align: justify; */
}

.services-option-above {
  justify-content: center;
  display: flex;
  padding-bottom: 50px;
}

.services-option-below {
  display: flex;
  justify-content: center;
}

.above-one {
  color: #000;
  background: #fff;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.above-one:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

//New,blog

.News {
  background-image: url("https://www.volansoft.com/assets/img/background/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  position: relative;
  margin-top: 10rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
  }

  &-Title {
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 72px;
  }

  &-container {
    z-index: 100;
    position: relative;
  }

  .swiper-wrapper {
  }

  .swiper {
    max-width: 1200px;
  }

  .NewsItem {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 360px;

    .NewsItemImg {
      width: 100%;
      position: relative;
      height: 200px;

      .ItemImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .NewsItemInfo {
        position: absolute;
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        bottom: 0;
        width: 100%;
        background-color: #000;
        opacity: 0.8;
        // margin-left: -20px;

        .ItemDateText {
          margin-left: 20px;
        }

        .Admin {
          margin-left: 12px;
        }
      }
    }

    .NewsItemMain {
      background-color: #000;
      color: #fff;
      padding: 20px 20px 25px;

      .ItemTitle {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 6px;
        cursor: pointer;
      }

      .ItemContent {
        margin: 0 0 15px;
        text-align: justify;
      }
    }
  }
}

//How 

.how {
  color: #fff;
  padding: 50px 0;
  display: block;
  box-sizing: border-box;

  font-family: karla, sans-serif;

  line-height: 24px;
}

.how-title {
  font-size: 34px;
  font-family: brandon, serif;
  letter-spacing: 1.5px;
  line-height: 42px;
  margin: 0 auto 10px;
  text-align: center;
  text-transform: capitalize;
}

.how-desc {
  width: 100%;
  display: flex;
}
.how-desc-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  margin: auto;
  justify-content: center;
}

.how-icon{
  font-size: 40px ;
}

.how-icon-bt-h {
  font-size: 16px;
  line-height: 24px;
  padding: 0 60px;
  font-family: karla,serif;
}

.how-desc-one-t {
  width: 270px;
  margin: 10px;
  
}

.fix {
  margin-left: 50px;
}

.font {
  line-height: 32px;
  font-weight: 500;
  font-family: brandon, serif;
  /* letter-spacing: 1.5px; */
  font-size: 20px;
}

.client {
  text-align: center;
  margin: 50px 250px;
}

.client-title {
  margin-bottom: 30px;
}

.client h1 {
  font-size: 34px;
  font-family: brandon, serif;
  letter-spacing: 1.5px;
  line-height: 42px;
  margin: 0 auto 10px;
  text-align: center;
  text-transform: capitalize;
}

.client p {
  font-family: karla, sans-serif;
  line-height: 24px;
  font-size: 16px;
}

.client-swiper {
  margin: 5px;
  box-shadow: 0 1px 3px transparent, 0 1px 2px rgb(0 0 0 / 2%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 1px solid #dfdfdf;
  padding: 10px;
  margin: 0 5px;
  background-color: #ddd;
}

.client-swiper a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-swiper img {
  height: 50px;
  max-width: 100%;
}

.fb {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 50px;
}
.fb-say::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.9;
  content: "";
}

.fb-swiper {
  border: 1px solid #fff;
  width: 60%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
  background: rgba(189, 189, 189, 0.3);
  text-indent: 30px;
}

.cl-img {
  position: absolute;
  object-fit: cover;
  object-position: top;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.fb-swiper p {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 90px;
}

.fb-swiper h1 {
  padding: 0 40px;
  font-size: 16px;
  font-style: italic;

}

.fb-title {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 42px;
  margin: 0 auto 10px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}

.fb-title h1 {
  color: #fff;
  font-size: 34px;
  font-family: brandon, serif;
  padding-top: 30px;
}

.fname {
  font-weight: 700;
  font-size: 13px;
}

.fdesc {
  font-style: italic;
  font-size: 12px;
}
