/* Header  */
.main_banner {
    position: relative;
    width: 100%;
    min-height: 450px;
    height: 100vh;
    background-image: url(../../assets/images/banner-home.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
}
.main_banner .container{
    margin: auto ;
}
.mbt_btn {
    /* background: #fe374a; */
    color: #fff;
    text-transform: uppercase;
    padding: 8px 25px;
    font-size: 16px;
    border: 1px solid #8c8c8c;
}

.mbt_btn:hover,.mbt_btn:focus {
    color: #fff;
}
.btn-black {
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    -o-transition: background-position .5s;
    transition: background-position .5s;
    background: linear-gradient(to right,var(--primary-color) 0,#272727 50%,#0f0f0f 100%);
    color: #fff;
    background-size: 200% auto
}

.btn-black:hover,.btn.btn-black.active.focus,.btn.btn-black.active:focus,.btn.btn-black.focus,.btn.btn-black:active.focus,.btn.btn-black:active:focus,.btn.btn-black:focus {
    background-position: right center;
    color: #fff
}
.main_banner:before {
    content: "";
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.2;
}

.d-table {
    display: table;

}

.d-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.vertical-bottom {
    vertical-align: bottom;
}

.main_banner_top_part {
    width: 100%;
    height: 59vh;
    text-align: center;  
}

.main_banner_top_part .mbt_title {
    font-size: 48px;
    font-weight: 400;
    margin: 0 0 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 60px;
    font-family: raleway,serif;
    text-shadow: 0 1px 2px rgba(0,0,0,.65);
}
@media only screen and (max-width: 767px){
    .main_banner_top_part .mbt_title {
        font-size: 30px;
        line-height: 40px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0;
    }
}
.main_banner_top_part .mbt_subtitle {
    color: #fff;
}

.mbt_btn {
    /* background: #fe374a; */
    color: #fff;
    text-transform: uppercase;
    padding: 8px 25px;
    font-size: 16px;
    border: 1px solid #8c8c8c;
}

.mbt_btn:hover,.mbt_btn:focus {
    color: #fff;
}

.mbbp_ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.mbbp_ul li {
    text-align: center;
    padding: 0 10px;
    margin: 10px 20px;
    color: white;
    text-decoration: none;
}

.mbbp_ul li h4 {
    display: inline-block;
    padding:0 20px;
    color: #fff;
    font-size: 28px;
    text-shadow: 0 1px 2px rgba(0,0,0,.65);
}

.mbbp_ul li h6 {
    color: #fff;
    margin-top: 15px;
}

.mbbp_divider {
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.nav-justified {
    width: 100%
}

.nav-justified>li {
    float: none
}

.nav-justified>li>a {
    text-align: center;
    margin-bottom: 5px
}

.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}
@media (min-width: 768px) {
    .nav-justified>li {
        display:table-cell;
        width: 170px
    }

    .nav-justified>li>a {
        margin-bottom: 0
    }
}
/*Who we are */
.who-we-are{
    width: 100%;
}
.p50 {
    padding: 50px 0
}
.port-section-wrapper {
    justify-content: center;
    align-items: center;
    display: flex!important;
    padding: 0;
    margin: 20px 0;
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .port-section-wrapper{
        display: inherit !important;
        margin-top: 50px;
    }
    
}
.port_sec_right {
    width: 100%;
    padding-left: 4%;
    text-align: left;
    font-weight: 300;
    font-family: karla,sans-serif;
    line-height:30px;
}
.port_sec_right h6{
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    margin: 20px 0 20px;
}
.services-image {

    padding: 0 30px 0 0;
    width: 100%;
}
.services-image img{
    width: 100%;
}
.img-gray-layer {
    position: relative;
    width: 100%;
}

.img-gray-layer::after {
    content: '';
    position: absolute;
    width: 105%;
    height: 100%;
    background-color: #e3e3e1;
    left: 15px;
    top: 15px;
    z-index: -1
}
.col-md-offset-1 {
    margin-left: 8.33333333%
}
.btn_m3 {
    background-color: var(--primary-color);
    line-height: 1;
    font-weight: 400;
    padding: 1.5rem 3.5rem;
    letter-spacing: 1px;
    color: #fff;
    font-size: 15px;
    border-radius: 0;
    margin-left: 10px;
    text-align: center;
    float: right;
}
@media only screen and (max-width: 767px){
    .btn_m3 {
        padding: 1.5rem 1rem;
        float: none!important;
        width: 100%;
        margin: 0 0 10px;
    }
}

/* Services  */


.home .home-services{
    width: 100%;
    margin: 65px 0;
}
.container .services-list{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    transform: translateY(25px) ;
    transition: 2s ease-in-out
}
.container .services-list div{
    background:transparent;

}
.container .services-title{
    margin: 25px 0;
}
.container .services-title h2{
    margin-bottom: 20px;
}
.container .services-title h3{
    text-align: center;
}
.home-services .service-item{
    position: relative;
    text-align: left;
    min-height: 425px;
    margin: 15px 0;
    border-radius:10px;
}
.home-services .service-item a{
    display: block;
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-top:25%;
    margin-left: 10%;
}
.home-services .service-item:hover{
    transition-duration:  1s ;
    background-image: linear-gradient(90deg, #3a6771 0%, #7f9a9f 100%);

}

.home-services .service-item:hover p{
    opacity:1;
    font-size: 16px;
    margin-bottom: 35px;
    color: #fff;
}
.home-services .service-item h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    color: #fff;
    font-family: Muli;
    width: 100%;
    padding: 10px 15px;
}
.home-services .service-item p{
   opacity: 0;
   padding: 10px;

}
.home-services .service-item img{
    width: 100%; 
    height: 100%;
    top: 0;
    position: absolute;
    object-fit: cover;
    left: 0;
    z-index: -1;
    border-radius:10px;

} 
.home-services .service-item::after{
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    left:0;
    background-color: rgba(0,0,0,0.1);
    z-index: -1;

}

/* .container .services-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.services-list .service-item {
    margin: 10px 0px;
}

.services-list .service-item a{
    color: var(--black-color)

}
.single-service-inner{
    overflow: hidden;

}
.single-service {
    transition: .4s;
    height: 100%;
    display: block;
    border: 1px solid #ccc;
}

.single-service-inner {
    padding: 30px 20px;
    position: relative
}

.single-service:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color 2s ease-out
}

.single-service-inner::after,.single-service-inner::before {
    pointer-events: none
}

.single-service-inner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    content: '';
    transition: transform .6s;
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0)
}

.awesome-img>a::after,.counter-area.parallax-bg:before,.parallax-bg-2:before,.project-dec::before {
    content: ""
}

.single-service:hover .single-service-inner::before {
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0)
}

.service-icon a,.service-icon span {
    font-size: 60px;
    color: var(--primary-color);
    line-height: 60px
}

.service-text h4 {
    font-weight: 600;
    font-size: 20px
}

.service-text p {
    margin-bottom: 0;
    text-align: justify
}

.single-service h4 {
    font-size: 20px;
    line-height: 28px
}

.single-service h4 a,.single-service h4 a:hover {
    color: var(--primary-color)
}

.single-service:hover .service-icon a,.single-service:hover .service-icon span,.single-service:hover .service-text h4 a,.single-service:hover .service-text h4,.single-service:hover .service-text p {
    color: #fff
} */

.center-headline {
    max-width: 900px;
    margin: 50px auto;
    text-align: center
}

.center-headline h3 {
    color: var(--black-color);
    font-size: 34px;
    font-family: brandon,serif;
    letter-spacing: 1.5px;
    line-height: 42px;
    margin: 0 auto 10px;
    text-align: center;
    text-transform: capitalize
}
/* Blog 

*/
.home-blog {
    background:url(../../assets/images/background-post-home.jpeg) bottom center/cover no-repeat;
    position: relative;
    width: 100%;
    display: flex;

}

.home-blog::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    opacity: .8;
    content: "";
}
.home-blog-content{
    padding:30px 85px;
}
.home-blog-content h3{
    color: var(--white-color);
    font-size: 34px;
    font-family: brandon,serif;
    letter-spacing: 1.5px;
    line-height: 42px;
    margin: 0 0 35px;
    text-align: center;
    text-transform: capitalize;
    z-index: 1;
    padding:45px 0;
}



.vs_blog_single {
    width: 100%;
    height: 448px;
    float: left;
}
.awesome-img{
    overflow: hidden
}
.awesome-img,.awesome-img>a {
    position: relative;
    display: block;
}
.awesome-img a img {
    height: 200px;
    object-fit: cover
}
.awesome-img img {
    transform: scale(1.1);
    transition: .4s
}
.awesome-img>a::after {
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0
}

.awesome-img>a::after {
    background: rgba(0,0,0,.6);
    transition: .4s
}

.post-detail-ul {
    margin-top: 10px;
    width: 100%!important;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.81);
    padding: 0 0 0 18px;
}

.post-detail-ul li {
    margin-right: 14px;
    font-size: 14px;
    color: #fff;
    font-weight: 300
}

.post-detail-ul li i {
    font-size: 13px;
    margin-right: 3px;
    font-weight: 900
}
.project-dec {
    display: block;
    position: relative;
    background-color: var(--primary-color);
    height: 55%;
    padding:20px 15px;
}
.project-dec::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 25px;
    width: 2px;
    height: 20px;
    background: #fff;
    transition: .5s
}
.swiper-slide:hover .project-dec::before {
    width: 2px;
    height: 100%;
    transition: .5s;
    cursor: pointer;
}
.project-dec h4 {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: left;
}
.project-dec h4:hover{
    text-decoration: underline;
}
.project-dec p {
    color: var(--white-color);
    font-weight: 400;
    text-align: justify;
}
.project-dec .read-btn {
    position: absolute;
    bottom: 15px;
    font-weight: 500;
    font-size: 17px;
    padding: 8px 20px;
}
.project-dec .btn-white {
    transition: background-position .5s;
    background: linear-gradient(to right,#fff 0,#e5e5e5 50%,#f6f4f4 100%);
    color: var(--primary-color);
    background-size: 200% auto;
    text-align: center;
    left: 20px;
}

.btn-white:hover,.btn.btn-white.active.focus,.btn.btn-white.active:focus,.btn.btn-white.focus,.btn.btn-white:active.focus,.btn.btn-white:active:focus,.btn.btn-white:focus {
    background-position: right center;
    color: var(--primary-color)
}
/* Web and mobile app development process */

.process-sec {
    position: relative;
    padding:40px 0;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}


.m-timeline-row {
    padding-top: 20px;
    position: relative;
    transition: max-height .3s ease-in-out
}

.m-timeline-row:after {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0),#fff);
    position: absolute;
    bottom: 0;
    left: 0
}
 
.timeline-circel,.timeline-circel-outer {
    position: relative
}

.m-timeline-row.fullHeight:after {
    display: none
}

.m-timeline-row.fullHeight {
    max-height: 820px;
    padding-bottom: 0
}
@media only screen and (min-width: 967px) {
    .m-timeline-wrap {
        display:none;
    }
}
@media only screen and (max-width: 967px) {
    .m-timeline-wrap {
        display:block;
    }
}
.m-timeline-col {
    padding-left: 110px;
    position: relative;
    max-width: 360px;
    margin: 0 auto
}

.m-timeline-col+.m-timeline-col {
    margin: 40px auto 0
}

.m-timeline-col .timeline-circel {
    position: absolute;
    left: 26px;
    top: 7px
}

.m-timeline-col .timeline-content {
    position: relative;
    text-align: left;
    left: auto;
    width: 100%
}

.client-owl .owl-controls,.single-client,.timeline-circel,.timeline-content {
    text-align: center
}

.m-timeline-col+.m-timeline-col:before {
    position: absolute;
    left: 48px;
    height: 40px;
    width: 1px;
    background-color: #e4e4e4;
    top: -52px
}
.m-timeline-wrap .btn-holder {
    margin-top: 20px
}

.timeline-circel {
    width: 48px;
    height: 48px;
    background-color: #fff;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,.41);
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    display: block;
    margin: 0 auto
}

.timeline-circel-inr {
    background-color: var(--primary-color);
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    border-radius: 100%;
    color: #fff
}

.timeline-circel-inr.anClass::after,.timeline-circel-inr.anClass::before,.timeline-circel.borderAn::after,.timeline-circel.borderAn::before,.timeline-circel::before {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: inherit;
    position: absolute;
    transition: all .5s ease-out;
    border: 1px solid var(--primary-color);
    left: 0;
    right: 0;
    opacity: .1
}

@keyframes pulsing-1 {
    from {
        opacity: 0;
        transform: scale(1)
    }

    to {
        opacity: .5;
        transform: scale(1.6)
    }
}

.timeline-circel-inr.anClass::after {
    animation: pulsing-2 1s cubic-bezier(.19,1,.22,1) infinite alternate
}

.timeline-circel-line {
    width: 1px;
    height: 40px;
    position: absolute;
    background-color: #e4e4e4
}

.bottom .timeline-circel-line-inr,.upper .timeline-circel-line-inr {
    width: 1px;
    height: 40px;
    position: absolute;
    left: 0;
    background-color: var(--primary-color);
    right: 0
}

.upper .timeline-circel-line-inr {
    top: auto;
    bottom: 0
}

.bottom .timeline-circel-line-inr {
    top: 0;
    bottom: auto
}

.bottom .timeline-circel-line-inr:before,.upper .timeline-circel-line-inr:before {

    width: 7px;
    height: 7px;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    position: absolute;
    left: -3px;
    content: ''
}

.bottom .timeline-circel-line-inr:before {
    top: auto;
    bottom: 0;
    border-radius: 100%;
}

.upper .timeline-circel-line-inr:before {
    content: '';
    top: 0;
    bottom: auto;
    border-radius: 100%
}

@keyframes pulsing-2 {
    from {
        opacity: 0;
        transform: scale(1)
    }

    to {
        opacity: .3;
        transform: scale(2.1)
    }
}

@keyframes lineAn {
    0% {
        opacity: 0;
        height: 0
    }

    100% {
        height: 40px;
        opacity: 1
    }
}

.lineAn {
    -webkit-animation-name: lineAn;
    animation-name: lineAn
}

.timeline-col.upper .timeline-circel-line {
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.timeline-col.bottom .timeline-circel-line {
    top: 62px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.timeline-col.bottom .timeline-circel-line:before {
    bottom: -6px;
    top: auto
}

.timeline-col {
    position: relative;
    min-height: 1px;
    width: 16.66666667%;
}


.timeline-content {
    position: absolute;
    width: 230px;
    left: -5px;
    right: 0
}

.timeline-content.timeline-upper-content {
    top: -200px;
}



.timeline-content.timeline-bottom-content {
    top: 115px
}

.timeline-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #2b264a;
    margin-bottom: 10px
}

.timeline-content p {
    color: #656469;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px
}

.timeline-row {
    text-align: center;
    padding: 180px 0;
}

.middleline,.middleline-inr {
    height: 1px;
    position: absolute
}

.middleline {
    width: 132px;
    left: 150px;
    background-color: #e4e4e4;
    top: 26px;
    opacity: 1
}

.main_bg,.middleline-inr {
    background-color: var(--primary-color)
}

.middleline-inr {
    width: 100%;
    left: 0;
    top: 0
}

.middlelineAn {
    -webkit-animation-name: middlelineAn;
    animation-name: middlelineAn;
    position: relative
}

.middleline-inr:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    position: absolute;
    top: -4px;
    left: auto;
    right: -40px;
    border-radius: 100%;
    box-shadow: 0 0 25px 2px var(--primary-color)
}

@keyframes middlelineAn {
    0% {
        opacity: 0;
        width: 0;
        background-color: var(--primary-color)
    }

    100% {
        width: 100%;
        opacity: 1;
        background-color: var(--primary-color)
    }
}

/* How we stand out */
.dark_main_bg {
    background: var(--primary-color);

}
.svg-icon i{
    font-size: 55px;
}


.service2-item-box .svg-icon svg path{
}

.service2-item-box h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 16px;
    color: #fff
}

.service2-item-box p {
    font-size: 16px;
    line-height: 24px;
    padding: 0 50px;
    color: #fff
}
.row_col {
    display: flex;
    flex-wrap: wrap
}

.white-headline h3 {
    color: #fff;
    font-weight: 300;

}
/* Our Clients */
.home-our-clients-container{
    display: flex;
    flex-direction: column;
    padding:50px 0;
}
.home-our-clients{
    margin: 0 50px;
}
.home-our-clients .swiper{
    padding:0;
    width: 100%;
}
.home-our-clients .swiper-wrapper{
    padding-bottom: 30px;
}
.single-client {
    box-shadow: 0 1px 3px transparent,0 1px 2px rgba(0,0,0,.02);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid #dfdfdf;
    padding: 10px;
    margin: 0 5px;
    background-color: #ddd
}
.single-client img{
    width: auto;
}

/* Home feedback */
.home-feedback-container{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color)
}
.home-feedback-container h3 {
    font-size: 34px;
    color:var(--white-color);
    font-family: brandon,serif;
    letter-spacing: 1.5px;
    line-height: 42px;
    margin: 20px 0;
    text-align: center;
    text-transform: capitalize;
}
.home-our-clients .swiper-slide{
    background-color: transparent;
}
.home-feedback{
    margin: auto;
    color:var(--white-color);
}
.owl-item {
    min-height: 1px;
    float: left;
    user-select: none
}
.owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}


.client-info {
    display: inline-block;
    margin-left: -4.8%;
    margin-top: 3%;
    width: 25%;
    z-index: 9
}

.test-img {
    width: 95px;
    height: 95px;
    position: absolute;
    margin-right: 10px;
    top: 0;
    left: 0;
}

.test-img>img {
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,.19);
    background: padding-box;
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
}

.test-info {
    display: block;
    text-align: right
}

.test-info>h6 {
    font-weight: 700;
    font-size: 13px
}

.test-info>h5 {
    font-style: italic;
    font-size: 12px
}
