.blog-banner{
    width: 100%;
    height: 407px;
    display: flex;
    position: relative;
}
.blog-banner img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
.blog-banner:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    content: ' ';
}
.banner-container{
    margin: auto;
    width: 1050px;
    text-align: start;
}
.banner-container h2{
    font-family: acta,serif;
    color: var(--white-color);
    font-size: 48px;
    line-height: 64px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 5px;

}
.banner-container h3{
    color: var(--white-color);
    font-size: 24px;
    font-weight: 300;
}