.post{

}
.post-banner{
    background-color: #000000;
}
.post-content-container{
    width: 100%;
    display: flex
}
.post-content{
    display: flex;
    max-width:1300px;
    margin: auto;
}

.post-content-left{
    width: 66%;
}

.post-content-right{
    width: 33%;
    margin:0 20px;
}

.content-details{
    text-align:justify;
}
.content-navigation{
    display: flex;
    justify-content:space-between
}
.content-navigation .social_link li{
    background-color: #000000;
}
.content-navigation .social_link li a{
    color: #fff
}
.content-navigation-button{
    width: 150px;
    height: 50px;
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing:1.5px;
    line-height: 50px;
    text-align: center;
}
.content-details img{
    width: 100%;
}


.content-suggestion{
    text-align:start;
}

.suggestion-lists{
    border: 1px solid #ccc;
    padding:0;
    
}
.suggestion-item{
}
.suggestion-item a{
    display: flex;
}
.suggestion-item a img{
    width: 80px;
    height: 80px;
    margin:10px;
    border-radius: 5px;
}
.suggestion-item a span{
    color: #000000;
    margin-top:20px;
    font-size: 17px;
}
.contact-form-container{
    border: 1px solid #ccc;
    padding:10px;
}
.contact-form{
    margin:10px;
    display: flex;
    flex-direction: column;
}
.form-group{    
    margin:10px 0;
}
.form-group input{
    width: 100%;
    height: 40px ;
}
.form-group textarea{
    width: 100%;
    height:110px ;
}
.form-group button{
    background-color: #000000;
    color: #fff;
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing:2px;
    font-weight: 100;
}

