.header{
    position: sticky;
    z-index: 5;
    width: 100%;
    height: 80px;
    transition: all 0.5s ease-in-out;
    background-color: var(--white-color);
}
.header .container{
    justify-content:space-between;
    display: flex;
    align-items: center;
    height: 100%;

}
.backgroundBlack{
    background-color: var(--white-color);
    position: fixed;
    top: 0;
}
.header__navigation a{
    color: var(--black-color);
    letter-spacing: 1.8px;
    font-size: 13px;
}
.header__navigation a:hover{
    color: var(--primary-color)
}
#burger_menu-container{
    display: none;
    position: absolute;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    transition-delay: 0.1s;
    padding-right: 40px;
    padding-top: 30px;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;

}

#burger_menu-container.open__burger-menu {
    transform: translateX(0);
}
#navigation{
    display: flex;
    padding: 0;
}
#navigation>li{
    /*line-height: 65px;*/
    margin: 7px 14px;

}
#navigation>li>a{
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
}
#navigation>.has-child>a:after{
    background-color: var(--primary-color);
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 10px;
    padding: 2px;
}

.header__logo .logo-link img {
    width: 170px;
    height: 60px;
}

.header__language{
    line-height: 83px;
}
.has-child:hover{
    cursor: pointer;
}
.has-child:hover .menu-display-table{
    display:block;
    
}


#navigation>.has-child{
    position: relative;
   
}
.has-child a{
    text-transform: capitalize;
}


.has-child .menu-display-table{
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 30px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: inset 0 20px 20px -20px #cccccc5c, 0 0 24px #cccccc5c;
    width: 550px;

    
}
.menu-display-table>ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: left;
}

.menu-display-table ul li {
    line-height: 65px;
}

.burger__menus-list-icon {
    display: none;
    font-size: 16px;
    margin-left: 8px;
}

.burger__menu-submenu {
    margin-top: 20px;
}





@media (min-width: 768px) and (max-width: 1024px){
    #navigation{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    #navigation>li {
        line-height: 20px;
    }
    .header__language{
        line-height: 42px;
    }
}

@media (max-width: 768px) {
    .header .container {
        height: 100%;
    }

    .mobile-menu__icon {
        margin-right: 12px;
    }

    .header__logo .logo-link img{
        width: 140px;
    }

    .header__burgerMenu{
        width: 100%;
    }
    .has-child .menu-display-table{
        width: 100%;
        right: 0;
        z-index: 3;
    }
    .has-child .menu-display-table{
        display: none!important;
    }
    .header__navigation{
        display: none;
    }

    #burger_menu-container {
        z-index: 100;
        display: block;
        overflow-y: auto;


    }

    .burger__menus-list-icon {
        display: inline-block;
    }

    
}

.hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 16px;
    height: 16px;
    cursor: pointer
}

.hamburger::before {
    cursor: pointer;
    display: block;
    content: "";
    background-color: #e62552;
    position: absolute;
    width: 220%;
    height: 220%;
    left: -8px;
    top: -9px;
    z-index: -1;
    border-radius: 50%;
}
.hamburger div {
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 2px;
    width: 100%;
    background: white;
}

.hamburger .meat {
    width: 75%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.hamburger .bottom-bun {
    width: 50%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.burger_menu-list li{
    text-align: left;
    padding-bottom: 30px;
    max-width: 300px;

}
.burger_menu-list > li > a{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

}
.burger_menu-list .menuLists__close{
    cursor: pointer;
    color: var(--text-colorburger_menu-list);
    font-size: 24px;
    text-align: right;
    margin-bottom: 40px;
}
