.header{
    position: sticky;
    z-index: 5;
    width: 100%;
    height: 80px;
    transition: all 0.5s ease-in-out;
    background-color: var(--white-color);
}
.header .container{
    justify-content:space-between;
    display: flex;

}
.backgroundBlack{
    background-color: var(--white-color);
    position: fixed;
}
.header__navigation a{
    color: var(--black-color);
    letter-spacing: 1.8px;
    font-size: 13px;
}
.header__navigation a:hover{
    color: var(--primary-color)
}
#burger_menu-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-color)

}
#navigation{
    display: flex;
    padding: 0;
}
#navigation>li{
    line-height: 65px;
    margin: 7px 14px;

}
#navigation>li>a{
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
}
#navigation>.has-child>a:after{
    background-color: var(--primary-color);
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 10px;
    padding: 2px;
}

.header__logo .logo-link img {
    width: 170px;
    height: 61px;
}

.header__language{
    line-height: 83px;
}
.has-child:hover{
    cursor: pointer;
}
.has-child:hover .menu-display-table{
    display:block;
    
}


#navigation>.has-child{
    position: relative;
   
}
.has-child a{
    text-transform: capitalize;
}


.has-child .menu-display-table{
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 30px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: inset 0 20px 20px -20px #cccccc5c, 0 0 24px #cccccc5c;
    width: 550px;

    
}
.menu-display-table>ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: left;
}
@media (min-width: 768px) and (max-width: 1024px){
    #navigation{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    #navigation>li {
        line-height: 20px;
    }
    .header__language{
        line-height: 42px;
    }
}

@media (max-width: 768px) {
    .header__burgerMenu{
        width: 100%;
    }
    .has-child .menu-display-table{
        width: 100%;
        right: 0;
        z-index: 3;
    }
    .has-child .menu-display-table{
        display: none!important;
    }
    .header__navigation{
        display: none;
    }
    
}

.hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 16px;
    height: 16px;
    cursor: pointer
}

.hamburger div {
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 1px;
    width: 100%;
    background: var(--primary-color)
}

.hamburger .meat {
    width: 75%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.hamburger .bottom-bun {
    width: 50%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.burger_menu-list li{
    text-align: left;

}
.burger_menu-list li a{
    color: var(--white-color);
    font-size: 20px;
    line-height: 33px;
    text-transform: uppercase;

}
.burger_menu-list .menuLists__close{
    color: var(--white-color);
    font-size: 24px;
    text-align: right;
}