.header{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 90px;
}
.header .container{
    justify-content:space-between;
    display: flex;

}
.backgroundBlack{
    background-color: var(--white-color);
    position: fixed;
}
.header__navigation a{
    color: var(--black-color);
    letter-spacing: 1.8px;
    font-size: 13px;
}
.header__navigation a:hover{
    color: var(--primary-color)
}
#navigation{
    display: flex;
    padding: 0;
}
#navigation>li{
    line-height: 65px;
    margin: 7px 14px;

}
#navigation>li>a{
    cursor: pointer;
    font-weight: 400;
    text-transform: capitalize;
}
#navigation>.has-child>a:after{
    background-color: var(--primary-color);
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 10px;
    padding: 2px;
}

.header__logo .logo-link img {
    width: 170px;
    height: 61px;
    color:red;
}

.header__language{
    line-height: 83px;
}
.has-child:hover{
    cursor: pointer;
}
.has-child:hover .menu-display-table{
    display:block;
    
}


#navigation>.has-child{
    position: relative;
   
}
.has-child a{
    text-transform: capitalize;
}


.has-child .menu-display-table{
    display: none;
    position: absolute;
    background-color: white;
    padding-top: 30px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: inset 0 20px 20px -20px #cccccc5c, 0 0 24px #cccccc5c;
    width: 550px;

    
}
.menu-display-table>ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: left;
}
@media (min-width: 768px) and (max-width: 1024px){
    #navigation{
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    #navigation>li {
        line-height: 20px;
    }
    .header__language{
        line-height: 42px;
    }
}

@media (max-width: 768px) {
    .header__burgerMenu{
        width: 100%;
    }
    .has-child .menu-display-table{
        width: 100%;
        right: 0;
        z-index: 3;
    }
    .has-child .menu-display-table{
        display: none!important;
    }
    .header__navigation{
        display: none;
    }
}