.header{
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 90px;
}
.header--container{
    max-width: 1300px; 
    display: flex;
    justify-content:space-between;
    margin: auto;
    
}
.backgroundBlack{
    background-color: var(--primary-color);
}
.header__navigation a{
    color: var(--white-color);
    letter-spacing: 1.8px;
    font-size: 13px;
}
.nav__lists{
    display: flex;
}
.lists-item{
    padding: 10px 15px;
}
.lists-item a i{
    margin-right:5px
}

.header__logo{
    margin:10px 15px;
}
.logo-link{
    color: var(--white-color);
    font-size: 24px;
    letter-spacing: 10px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgb(0 0 0 / 65%);
}

.header__burgerMenu{
    background-color: var(--primary-color);
    position: fixed;
    width: 30%;
    height: 100vh;
    right: 0;
    top: 0;
    display:none;
    min-width: 230px;
    z-index: 2;

    
}
.header__menuButtonOpen{
    color: var(--white-color);
    cursor: pointer;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.header__menuButtonClose{
    color: var(--white-color);
    cursor: pointer;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.openBurgerMenu{
    display: block;
}

.menuButton__close{
    text-align:end;
    font-size: 25px;
    margin: 18px;
    cursor: pointer;


}
.menuButton__close i{
    margin: 0 10px;
    font-size: 28px;
}
.header__language button{
    padding: 10px;
    margin: 10px;
}
.menuLists{
    text-align: start;
    padding:0;
    margin-top: 10px;
}
.menuLists li:hover{
    background-color: rgb(117, 110, 110);
}
.menuLists li{
    line-height:60px;
    text-decoration: none;
    padding-left: 30px;
}

.menuLists-items a{
    color: var(--white-color);
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    display: block;
}
.hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.hamburger div {
    -ms-flex-item-align: end;
    align-self: flex-end;
    height: 1px;
    width: 100%;
    background: #fff;
}

.hamburger .meat {
    width: 75%;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hamburger .bottom-bun {
    width: 50%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


