.category {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    padding: 120px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.category-top {
    display: flex;
    letter-spacing: 0.2rem;

}

.cate-t-left {
    font-size: 2.5rem;
    font-weight: 600;
    width: 50%;

}

.cate-t-right {
    font-size: 1.675rem;
    width: 50%;
    padding-left: 60px;
    line-height: 2.25rem;
    padding-top: 7px;

}

.category-down {
    display: flex;
}

.category-d-left {
    width: 50%;
}

.founders-img {
    margin-right: 30px;
}

.founders-img img {
    max-width: 100%;
    height: auto;
    margin-right: 30px;
}

.img-child {
    border-radius: 10px;
    width: 100%;
}

.category-d-right {
    display: flex;
    margin-right: 10px;
    width: 50%;
}

.cate-d-right-card {
    border: 2px solid #0a0a0a;
    padding: 50px;
    margin: 0 30px 30px;
    font-size: 1.5rem;
    line-height: 2rem;
}

.cate-d-right-card:hover{
    border: 2px solid #ffffff;
}

.icon {
    font-size: 50px;
}

.jaipur-title{
    font-size: 1.9rem;
}