.fb{
    
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    text-align:center;
    padding-bottom: 50px;
}
.fb-say::before{
  
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .9;
    content: "";
}

.fb-swiper{
    border : 1px solid #fff;
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    background: rgba(189,189,189,.3);

}

.cl-img{
    position: absolute;
    object-fit: cover;
    object-position: top;
    transform:translateX(-50%);
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.fb-swiper p{
    display: flex;
    flex-direction: row-reverse;
    padding-right : 90px;
    
}

.fb-swiper h1{
   padding: 0 40px;
    
}

.fb-titl{
    
    position: relative;
    letter-spacing: 1.5px;
    line-height: 42px;
    margin: 0 auto 10px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
}

.fb-titl h1{
    color: #fff;
    font-size: 34px;
    font-family: brandon,serif;
    padding-top:30px;
}

.fname{
    font-weight: 700;
    font-size: 13px;
   
}

.fdesc{
    font-style: italic;
    font-size: 12px;
}
