
.about-row{
    display: flex;
    justify-content:center;
    max-width: 1300px;
    margin: 60px auto;
    position: relative;
}

.about-row li{
    list-style: none;
    
}

.about-row:after, .about-row:before{
    content: "";
    display: block;
    position: absolute;
    border-style: dashed;
    border-color: #eaeaea;
    width: 680px;
    height: 220px;
}

.about-row:nth-child(odd){
    flex-direction: row-reverse;
}
.about-row:nth-child(odd)::after{
    right: 113px;
    bottom: -19px;
    z-index: -1;
    border-width: 0 2px 2px 0;
    border-bottom-right-radius: 15px;
}
.about-row:nth-child(odd)::before{
    right: 113px;
    top: -34px;
    z-index: -1;
    border-width: 2px 2px 0px 0;
    border-bottom-right-radius: 15px;
}

.about-row:nth-child(even)::after{
    bottom: -29px;
    left: 101px;
    border-width: 0 0 2px 2px;
    border-bottom-right-radius: 15px;
    z-index: -1;
}
.about-row:nth-child(even)::before{
    left: 112px;
    top: -43px;
    z-index: -1;
    border-width: 2px 0 0 2px;
    border-bottom-right-radius: 15px;
}
.about-row:first-child::before{
    border-width: 0px;

}

.row-img img{
    width: 210px;
}
.row-details h2{
    text-align:left;
    text-transform: capitalize;
}
.details-li{
    display:flex;
}
.details-li svg{
    width:30px;
    height: 30px;
}
.details-li li{
    font-size: 18px;
    line-height: 26px;
    color: #000;
    text-align:left;
    margin: 5px 10px;
}