.footer-container{
    width: 100%;
    background-color:var(--primary-color);
    padding:30px 0;
}
.footer{
    display: flex;
    max-width: 1300px;
    flex-direction: column;
    color: var(--white-color);
    margin: auto;

}

.footer li{
    list-style: none;

}

.footer a{
    text-decoration: none;
    color: var(--white-color);
}
.footer_logo{
    color: var(--white-color);
    letter-spacing: 8px;
    font-weight: 100;
    font-size: 22px;
    line-height: 55px;
    right: 5px;
}
.footer_logo a{
    text-transform: uppercase;
    text-align: right;
    display: block;
}
.footer_logo .logo-link img{
    height: 55px;
}
.footer__top{
    display: flex;
    flex-wrap: wrap;
}

.widget-navigation li{
    margin: 10px;
    text-align: right;
    text-transform: capitalize;
}

.footer-address{
    display: flex;
    padding: 18px 0;
}
.footer-address span{
    width: 250px;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}

.bottom__navigation{
    display: flex;
    justify-content: space-around;
}
.bottom__navigation li{
    margin: 10px;
    text-transform: capitalize;
}

.footer_bussinesses{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #343231;
    padding: 0;
}


.copyright span{
    line-height:70px;
    align-items: center;
}
.copyright a:hover{
    text-decoration: underline;
}
.business_info span{
    text-transform: uppercase;
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    display: inline-block;
    letter-spacing: 1.5px;
}
.business_info{
    padding: 20px;
    text-align: start;
    
}
.footer_bussinesses li:nth-child(2){
    border-left: 1px solid #343231;
}
.footer_bussinesses li:nth-child(3){
    border-left: 1px solid #343231;
}

.business-icon i{
    top: 0;
    left: 0;
    font-size: 22px;
    color: #fff;
}
.location_section h4{
    text-align: start;
    font-size: 25px;
    margin-left: 20px;
}
.fa-solid{
    color: var(--white-color);
}
.social_link{
    padding:0;
    float: right;
}
.social_link li{
    background-color: var(--white-color);
}
.footer-widget{

}
.map_location{
    position: relative;
}
.map_location img{
    width: 100%;
    height: 100%;
}
.map_location::before{
    position: absolute;
    content: "";
    width: 100%; 
    height:100%;
    background-color: var(--black-color);
    opacity:0.4;
}
@media (max-width: 768px){
    .footer_bussinesses{
        display:inherit !important;
        text-align: center;
    }
    .footer__top{
        display:block;
    }
    .footer-address{
        flex-direction: column;
    }
    .footer-address span{
        width: 100%;
    }
    .footer-address h4{
        font-size: 24px;
        line-height: 26px;    
        margin: 0 0 15px;
        font-weight: 500;
        font-family: brandon,serif;
        letter-spacing: 1.5px;

    }
    .footer_bussinesses .business_info{
        border: none !important;;

    }
   
    .footer__bottom{
        margin:0;
        display:block;
    }
    .bottom__navigation{
        padding:0;
    }
}