.footer-container{
    width: 100%;
    background-color:var(--primary-color);
}
.footer{
    display: flex;
    max-width: 1300px;
    flex-direction: column;
    color: var(--white-color);
    margin: auto;

}

.footer li{
    list-style: none;

}

.footer a{
    text-decoration: none;
    color: var(--white-color);
}
.footer_logo{
    color: var(--white-color);
    letter-spacing: 8px;
    font-weight: 100;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    right: 5px;
}
.footer_logo a{
    text-transform: uppercase;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}

.widget-navigation li{
    margin: 10px;
    text-align: right;
    text-transform: capitalize;
}

.footer-address{
    display: flex;
}
.footer-address span{
    width: 250px;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}

.bottom__navigation{
    display: flex;
    justify-content: space-around;
}
.bottom__navigation li{
    margin: 10px;
    text-transform: capitalize;
}

.footer_bussinesses{
    display: flex;
    border-top: 1px solid #343231;
    padding: 0;
}


.copyright span{
    line-height:70px;
    align-items: center;
}
.copyright a:hover{
    text-decoration: underline;
}
.business_info span{
    text-transform: uppercase;
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    display: inline-block;
    letter-spacing: 1.5px;
}
.business_info{
    padding: 20px;
    text-align: start;
    
}
.footer_bussinesses li:nth-child(2){
    border-left: 1px solid #343231;
}
.footer_bussinesses li:nth-child(3){
    border-left: 1px solid #343231;
}

.business-icon i{
    margin-right:10px;
}
.location_section h4{
    text-align: start;
    font-size: 25px;
    margin-left: 20px;
}
.fa-solid{
    color: var(--white-color);
}
.social_link li{
    background-color: var(--white-color);
}