.technologies-intro-row .container{
    display:flex;
    flex-wrap: wrap;
    padding:25px 0;
}
.container .intro-img{
    width: 100%;
    height: 100%;
}
.container .intro-img img{
    width: 100%;
    height: 100%;
}
.container .intro-content{
    text-align: left;
    color: var(--primary-color);
    padding:20px 0;
}
.container .intro-content h2{
    padding:25px 0;
}
.container .intro-content h3{
    padding:25px 0;
}
.container .intro-content h3 p{
}