.service-post{
    width: 100%;
}
.service-post-content-container{
    display: flex;
    width: 100%;
    background-color: #f4f5f6;


}
.service-post-content{
    margin: auto;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}
.service-post-content .content-list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.content-list .content-item-container{
    width: 50%;
}
.content-item{
    box-shadow: 0 5px 25px rgb(0 0 0 / 0.1);
    margin:15px 15px;
    text-align: left;
    padding:12px;
}
.content-item h3{
    font-size: 24px;
    color: #000000;
    font-weight: 300;
}
.content-item p{
    font-size: 16px;
    color: #333333;
    line-height:28px;
}
.post-content-list h2{
    font-size: 34px;
    font-weight: 300;

}
.post-content-intro h2{
    font-size: 34px;
    font-weight: 300;
}
.post-content-intro p{
    font-size: 16px;
    color: #333333;
    line-height:29px;
    text-align: justify;
}