.single-service {
    margin-top: 30px;
    transition: .4s;
    height: 100%;
    display: block;
    border: 1px solid #ccc;
    overflow: hidden;
}

.single-service-inner {
    padding: 30px 20px;
    position: relative
}

.single-service:hover {
    background-color: #000;
    cursor: pointer;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out
}

.single-service-inner::after,.single-service-inner::before {
    pointer-events: none
}

.single-service-inner::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    content: '';
    -webkit-transition: -webkit-transform .6s;
    transition: transform .6s;
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0)
}

.awesome-img>a::after,.counter-area.parallax-bg:before,.parallax-bg-2:before,.project-dec::before {
    content: ""
}

.single-service:hover .single-service-inner::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0)
}

.service-icon a,.service-icon span {
    font-size: 60px;
    color: #000;
    line-height: 60px
}

.service-text h4 {
    font-weight: 600;
    font-size: 20px
}

.service-text p {
    margin-bottom: 0;
    text-align: justify
}

.single-service h4 {
    font-size: 20px;
    line-height: 28px
}

.single-service h4 a,.single-service h4 a:hover {
    color: #000
}

.single-service:hover .service-icon a,.single-service:hover .service-icon span,.single-service:hover .service-text h4 a,.single-service:hover .service-text h4,.single-service:hover .service-text p {
    color: #fff
}