.about-us{
    width: 100%;
}
.about-banner{
    
}
.about-services-container{
    width: 100%;
    display: flex;
    background: #f9f9f9;
    padding: 60px 0;

}
.about-services{
    max-width: 1300px;
    margin: auto;
}
.about-services .services-header{
    
}
.about-services .services-header h3{
    font-size:34px;
}
.about-services .services-header p{
    font-size: 16px;
}

.about-services .services-content{
    display: flex;
}
@media only screen and (max-width: 767px) {
    .about-services .services-content{
        display: inherit !important;
        margin-top: 50px;
    }
}
.services-content .content-item{
    padding: 45px;
}
.content-item h5{
    text-align: center;
    font-size: 18px;
    margin: 15px 5px;

}
.about-reasons{
    justify-content:center;
}
.about-reasons h1{
    text-transform: capitalize;
    font-weight: 300;
    font-size: 34px;
}

.about-banner h1{
    font-size: 55px;
    font-weight: 300;
}
.about-banner p{
    font-size:25px;
    font-weight: 300;
}
/* About achivements */
.margin_top_bottom {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.margin_top_bottom i{
    font-weight: 300;
}
.margin_top_bottom h3,
.margin_top_bottom h5{
    font-weight: 300;
}

.counter_factor i {
    font-size: 30px;
    color: var(--primary-color);
}

.counter_factor h3 {
    margin: 0;
    /*  line-height: 48px; */
    margin-top: 8px;
}

.counter_factor h5 {
    margin-top: 8px;
}

.br_top {
    border-top: 2px solid #e3e3e1;
}
.br_left {
    border-left: 2px solid #e3e3e1;
}
.title-headline p{
    text-align:justify
}
.title-headline h2 {
    font-size: 34px;
    line-height: 36px
}
/* About mission */
.about-mission{
    display: flex;
    margin: 30px 10px;
    background-color: var(--white-color);
}
.about-mission .mission-details{
    text-align:left;
    margin: 0 25px;
    line-height: 27px;
}
.mission-details h2{
    font-size: 34px;
}

.about-mission .image img{
    width: 100%;
}
.about-mission .image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e3e3e1;
    left: 15px;
    top: 15px;
    z-index: -1;
}

.about-team{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    margin: 25px 0;
}
.about-team img{
    padding:0;
}

.team-details{
    display: flex;
    flex-direction: column;
    text-align: start;
    background: var(--primary-color);
    color: white;
    padding:25px 25px;
    line-height: 27px;
}
.team-details .details-title{
    font-size: 34px;

}
.team-details a{
    width: 160px;
    height: 40px;
    display: block;
    color: var(--black-color);
    border-radius:2px;
    margin-left: 68px;
    background: var(--white-color);
    font-size:16px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}
.item-image{
    background: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(204 204 204 / 46%);
    padding: 45px;
}
.item-image img{
    width: 100%;
}