.about-us{
    width: 100%;
}
.about-banner{
    
}
.about-services{

}
.about-services .services-content{
    display: flex;
}
.
.about-reasons{
    justify-content:center;
}
.about-reasons h1{
    text-transform: capitalize;
    font-weight: 300;
}

.about-banner h1{
    font-size: 55px;
    font-weight: 300;
}
.about-banner p{
    font-size:25px;
    font-weight: 300;
}
.about-achivements{
    display: flex;
    width: 100%;
    margin:50px 0;
    font-weight: 250;
    
}
.about-achivements--container{
    display: flex;
    max-width: 1100px;
    margin:auto;
    justify-content: space-between;
}
.achivements-lists{
    display: flex;
    max-width: 500px;
    height: 380px;
    flex-wrap: wrap;
    justify-content:center;
}
.achivements-item{
    width: 200px;
    height: 180px ;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    padding-top:15px ;
    margin: 0;
}
.achivements-item svg{
    font-size: 34px;
}
.achivements-item h3{
    font-size: 30px;
    font-weight: 300;
    margin:1px 8px;
}
.achivements-item h2{
    font-size: 23px;
    font-weight: 300;
}

.achivements-item.border-left{
    border-left: 2px solid #e3e3e1;
}
.achivements-item.border-top{
    border-top: 2px solid #e3e3e1;

}
.achivements-details{
    max-width:57%;
    text-align: start;
    line-height: 27px;

}

.about-mission{
    display: flex;
    margin: 30px 10px;
    background-color: var(--white-color);
}
.about-mission .mission-details{
    text-align:left;
    margin: 0 25px;
    line-height: 27px;
}
.about-mission .image{
    max-width:41%;

}
.about-mission .image img{
    width: 100%;
}
.about-mission .image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e3e3e1;
    left: 15px;
    top: 15px;
    z-index: -1;
}

.about-team{
    display: flex;
    flex-direction: row-reverse;
}
.about-team img{
    max-width: 40%;

}
.team-details{
    display: flex;
    flex-direction: column;
    text-align: start;
    background: var(--primary-color);
    color: white;
    padding:30px;
    line-height: 27px;
}