.about-us{
    width: 100%;
}
.about-banner{
    
}
.about-services-container{
    width: 100%;
    display: flex;
    background: #f9f9f9;
    padding: 60px 0;

}
.about-services{
    max-width: 1300px;
    margin: auto;
}
.about-services .services-header{
    
}
.about-services .services-header h3{
    font-size:34px;
}
.about-services .services-header p{
    font-size: 16px;
}
.about-services .services-content{
    display: flex;
}
.services-content .content-item{
    margin: 5px 45px;
}

.about-reasons{
    justify-content:center;
}
.about-reasons h1{
    text-transform: capitalize;
    font-weight: 300;
    font-size: 34px;
}

.about-banner h1{
    font-size: 55px;
    font-weight: 300;
}
.about-banner p{
    font-size:25px;
    font-weight: 300;
}
.about-achivements{
    display: flex;
    width: 100%;
    margin:50px 0;
    font-weight: 250;
    
}
.about-achivements--container{
    display: flex;
    max-width: 1100px;
    margin:auto;
    justify-content: space-between;
}
.achivements-lists{
    display: flex;
    max-width: 500px;
    height: 280px;
    flex-wrap: wrap;
    justify-content:center;
}
.achivements-item{
    width: 200px;
    height: 130px ;
    display: flex;
    font-size: 20px;
    font-weight: 150;
    flex-direction: column;
    align-items: center;
    padding-top:15px ;
    margin: 0;
}
.achivements-item svg{
    font-size: 34px;
}
.achivements-item h3{
    font-size: 30px;
    font-weight: 300;
    margin:1px 8px;
}
.achivements-item h2{
    font-size: 23px;
    font-weight: 300;
}

.achivements-item.border-left{
    border-left: 2px solid #e3e3e1;
}
.achivements-item.border-top{
    border-top: 2px solid #e3e3e1;

}
.achivements-details{
    max-width:57%;
    text-align: start;
    line-height: 27px;

}
.achivements-details h3{
    font-size: 16px ;

}
.about-achivements h1{
    font-size: 34px;
    font-weight: 300;

}
.about-mission{
    display: flex;
    margin: 30px 10px;
    background-color: var(--white-color);
}
.about-mission .mission-details{
    text-align:left;
    margin: 0 25px;
    line-height: 27px;
}
.mission-details h2{
    font-size: 34px;
}
.about-mission .image{
    max-width:41%;

}
.about-mission .image img{
    width: 100%;
}
.about-mission .image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e3e3e1;
    left: 15px;
    top: 15px;
    z-index: -1;
}

.about-team{
    display: flex;
    flex-direction: row-reverse;
}
.about-team img{
    width: 50%;

}
.team-details{
    display: flex;
    flex-direction: column;
    text-align: start;
    background: var(--primary-color);
    color: white;
    padding:30px;
    line-height: 27px;
}
.team-details .details-title{
    font-size: 34px;

}
.team-details a{
    width: 160px;
    height: 40px;
    display: block;
    color: var(--black-color);
    border-radius:2px;
    margin-left: 68px;
    background: var(--white-color);
    font-size:16px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}
.item-image{
    background: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 0 25px rgb(204 204 204 / 46%);
    padding: 45px;
}
.item-image img{
    width: 100%;
}