.layout__scrollTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(var(--primary-color), 0.6);
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    scroll-behavior: smooth;
    cursor: pointer;

}
.layout__scrollTop:hover{
    background-color: var(--primary-color);
}
.layout__scrollTop svg{
    color: #f8f9fa;
    font-size: 18px;
}