.CareerTopBg{
    display: block;
    background-color:#000;
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;         
    position: relative;  
    opacity: 1.1;
    
    ::before{
        
    }
    .TopBgDesc{
        position: absolute;
        bottom: 20px;
        color: #fff;
        font-family: Karla,serif;     
        padding-left: 200px;
        text-align: left;
        h1{
            font-size: 48px;
            line-height: 64px;
        }

        p{
            font-size: 24px;
        }
    }
}


.CareerBottom{
    margin: 50px 50px;
    display: flex;

    .CareerBottomLeft{
        position: relative;
        
        .BottomLeftBg{
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../../img/career2.png);
            z-index: -1;
            left: -20px;
        }

    
        flex: 1;
        
        .CareerBottomBg{
            height: 100%;
            
            
        }
        
        .BottomLeftDesc{
           
            background-color: #fff;
            border: 1px solid #000 ;
            text-align: left;
            z-index: 1;
            padding: 20px 30px;
            width: calc(100%/1.3);
            letter-spacing: 1px;
            line-height: 25px;
            text-align: justify;
            h2{
                font-size: 20px;
                line-height: 22px;
                font-weight: 400;
            }

            p{
                font-family: karla,sans-serif;

                span{
                    font-weight: bold;
                }
            }

            .bt-desc-text{
                padding-left: 100px;
                letter-spacing: 0.3px;
                text-align: justify;
            }
        }
    }
    
    .CareerBottomRight{
        flex:1;
    }
}

