.CareerTopBg{
    display: block;
    background-color:#000;
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;         
    position: relative;  
    opacity: 1.1;
    
    ::before{
        
    }
    .TopBgDesc{
        position: absolute;
        bottom: 20px;
        color: #fff;
        font-family: Karla,serif;     

        h1{
            font-size: 48px;
            line-height: 64px;
        }

        p{
            font-size: 24px;
        }
    }
}


.CareerBottom{
    margin: 50px 50px;
    display: flex;
}

.CareerBottomLeft{

    flex: 1;
    .CareerBottomBg{
        height: 100%;
        background-color: #fff;
    }
    
    .BottomLeftDesc{
        border: 2px solid #000 ;

        h2{
            font-size: 20px;
            line-height: 22px;
        }
    }
}

.CareerBottomRight{
    flex:1;
}
