.Career{
    display: block;
    background-color:#000;
    background-size: cover;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;      
    padding: 250px 0 50px;
    position: relative;
    text-align: center;
    ::before{
        opacity: .4;
    }
    .CareerDesc{
        color: #fff;
        font-family: Karla,serif;       
        margin: 0 auto;
        text-align: justify;

        .DescTitle{
            font-size: 48px;
            line-height: 64px;
        }

        .DescSub{
            font-size: 24px;
        }
    }
}