.CareerTopBg {
  display: block;
  background-color: #000;
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  opacity: 1.1;

  ::before {
  }
  .TopBgDesc {
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-family: Karla, serif;
    padding-left: 200px;
    text-align: left;
    h1 {
      font-size: 48px;
      line-height: 64px;
    }

    p {
      font-size: 24px;
    }
  }
}

.CareerBottom {
  margin: 50px 100px;
  display: flex;

  .CareerBottomLeft {
    position: relative;
    flex: 1;

    .BottomLeftBg {
      position: absolute;
      width: 80%;
      height: 100%;
      background: url(../../img/career2.png);
      z-index: -1;
      left: 15px;
      right: 35px;
      top: 30px;
    }
    .CareerBottomBg {
      height: 100%;
    }

    .BottomLeftDesc {
      margin-left: 50px;
      background-color: #fff;
      border: 1px solid #000;
      text-align: left;
      z-index: 1;
      padding: 20px 20px;
      width: calc(100% / 1.3);
      letter-spacing: 1px;
      line-height: 25px;
      text-align: justify;
      h2 {
        font-size: 20px;
        line-height: 22px;
        font-weight: 400;
      }
      p {
        font-family: karla, sans-serif;
        font-size: 16px;
        span {
          font-weight: bold;
        }
      }
      .bt-desc-text {
        padding-left: 100px;
        letter-spacing: 0.3px;
        text-align: justify;
      }
    }
  }

  .CareerBottomRight {
    flex: 1;
    text-align: left;
    text-decoration: none;
    width: 200px;

    h1{
      font-size: 30px;
    line-height: 32px;
    font-weight: 500;
    font-family: brandon,serif;
    letter-spacing: 1.5px;
  
}
    

    .BottomRightMultiple {

      .form-group {
        width: 200px;
        margin-bottom: 15px;
        
        
        .form-control {
          border: 1px solid #ccc;
          height: 44px;
          width: 500px;
          
          display: block;
         
          padding: 0;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
        }

        
      }

      .v-focus{
        height: 200px;
      }

      .formUpLoad {
        border: 1px solid rgb(233, 220, 220);
        width: 500px;
        text-align: center;
        label {
          display: inline-block;
          background-color: #fff;
          color: #000;
          // padding: 10px;
          padding-bottom: 15px;
          font-family: sans-serif;
          
          cursor: pointer;
          margin-top: 1rem;
        }
      }
    }
    .BottomRightButton{
      display: flex;
      justify-content:flex-start;


      .RightButtonBlack{
        position: relative;
        transition: background-position .5s;
        background: linear-gradient(to right,#000 0,#272727 50%,#0f0f0f 100%);
        background-size: 200% auto;
        color: #fff;
        text-transform: uppercase;
        width: 184px;
        height: 40px;
        display: block;
        font-size: 13px;
        font-weight: 600;
        border: 1px solid #8c8c8c;
        border-radius: 5px;
        line-height: 40px;
       
        padding: 0 15px;
      }

      .RightButtonBlack{
        background-position: right center;
      }


    }
  }
}

.Message{
  
}
